body {
    background-color: #184F5C;
}

#container {
    width: 100%;
    text-align: center;
}

#terminal {
    background-color: #002b36;
    color: #586e75;

    font-family: "Inconsolata", monospace;
    font-size: 12pt;

    width: 50%;
    margin: 10% auto auto auto;
    padding: 20px;

    text-align: left;
}

#output {
    height: 400px;
    overflow: auto;
}

#input {
    background-color: #073642;
    padding: 5px;
}

input[type="text"] {
    color: #eee8d5;

    font-family: "Inconsolata", monospace;
    font-size: 12pt;

    width: 80%;
}
